body{
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLyLDoJCBK2IYObmsE9jIXUhaOa29Vs6aVdg&s");
}

#boy1{
    text-align: center;
    color: blue;
}

#boy2{
    color:white ;
}

#boy3{
    color:white ;
}

#boy4{
    color:white ;
}

#boy5{
    color:white ;
}

#boy6{
    color:white ;
}

#boy7{
    color:white ;
}
    
#boy11{
    color: white;
}
 #car{
    color: aliceblue;
 }



















